-# %h2= @data[:environment][:madek][:site_title]

%section{style: 'margin: 3rem 0 5rem'}
  %h2.h3 Resources
  = render partial: 'resource_statistics'

%section
  %h2.h3 System
  = render partial: 'system_info'
