.page-header
  %h1
    Edit Static Page
    %span= @static_page.name
  %small
    = link_to '&larr; Go back to app settings'.html_safe, app_settings_path(anchor: 'static_pages')

.row
  .col-xs-12
    = render 'form'
