.row
  .col-xs-12
    .page-header
      %h2 ZencoderJobs

    .panel.panel-default
      .panel-body
        .btn-group
          = link_to 'Reencode', reencode_media_file_path(@media_file), method: :post, class: 'btn btn-info',
            data: { confirm: 'The Media File will be reencoded with Zencoder. All existing previews will be deleted. This action is liable to pay costs. Do you want to proceeed?' }

    = render 'zencoder_jobs/zencoder_jobs_table'
