= link_to ui_person_path(person), class: 'btn btn-default', title: 'Preview in Web-App', target: :_blank do
  %span.glyphicon.glyphicon-globe
  Web-App
= link_to people_path(merge_originator_id: person.id), class: 'btn btn-warning' do
  %span.glyphicon.glyphicon-random
  Merge
= link_to edit_person_path(person), class: 'btn btn-info' do
  %span.glyphicon.glyphicon-edit
  Edit
= link_to person_path(person), method: :delete, data: { confirm: 'The person will be deleted. Do you want to proceed?' },
    class: 'btn btn-danger' do
  %span.glyphicon.glyphicon-trash
  Delete
