:ruby
  sections = [ { id: 'roles', title: 'Roles', path: csv_import_roles_assistant_path } ]

.page-header
  %h1 CSV import
  %small
    = link_to '&larr; Go back to Assistant overview'.html_safe, assistant_path

- sections.each do |s|
  %h3{id: "csv_import_#{s[:id]}"}
    %a{href: s[:path]}= s[:title]
