%tr.filter_set{id: filter_set.id}
  %th= filter_set.id
  %td
    = link_to user_path(filter_set.responsible_user) do
      = filter_set.responsible_user.person

  %td.col-xs-1.active.text-center
    .btn-group.btn-group-sm
      = link_to filter_set_path(filter_set), class: 'btn btn-default' do
        %i.glyphicon.glyphicon-eye-open
