%tr.admin-comment.semiborder{class: striped}
  %td{colspan: colspan}
    %small
      %strong
        %span.glyphicon.glyphicon-paperclip.text-success
        Admin comment:
      %span.text-muted= admin_comment(object)
