%p.help-block
  = 'NOTE: This field supports Markdown formatting'
  %span= ' '
  %small<> (the normal, non-Github-flavored kind)
  = ' — see'
  %a{href: 'https://commonmark.org/help/', target: '_blank'} the CommonMark Markdown Reference
  for details.
  %br
  Also note that Markdown does not have to be used, plain HTML is also allowed!
