.page-header
  %h1
    New User Permission
    %small Vocabulary: #{@vocabulary}

.row
  .col-xs-12
    = form_for [@vocabulary, @permission],
        method: :post,
        as: :vocabulary_user_permission,
        url: vocabulary_vocabulary_user_permissions_path(@vocabulary),
        html: { class: 'form-horizontal', role: 'form' } do |f|
      = render partial: 'form_fields', locals: { f: f }
