- @explore_page_settings.each_key do |attr|
  .form-group
    .col-xs-3
      = f.label attr, attr.to_s.titleize
    .col-xs-9
      - if attr.to_s =~ /context_keys/
        = f.technical_field attr
      - elsif attr.to_s =~ /_id\Z/
        = f.technical_field attr, rows: 1
      - else
        = f.text_field attr, class: 'form-control'
