- @explore_page_settings.each_key do |attr|
  .form-group
    .col-xs-3
      = f.label attr, attr.to_s.titleize
    .col-xs-8
      - if attr.to_s =~ /context_keys/
        = f.text_field attr, value: @app_settings[attr].join(', '), class: 'form-control'
      - else
        = f.text_field attr, class: 'form-control'
