= f.technical_field @field, value: @app_settings.send(@field).join("\n"),
  rows: 3
%span.help-block
  Allowed values: 
  %code identification_info
  %code institutional_id
  %code institutional_directory_infos
  %br
  Separate by newlines. The order does not matter.
