= f.technical_field @field, value: @app_settings.send(@field).join("\n"),
  rows: 3
%span.help-block Allowed values: identification_info, institutional_id. Separate by newlines. The order does not matter.
