.page-header
  %h1 Edit Context <span>#{@context}</span>
  %small
    = link_to '&larr; Go back to contexts list'.html_safe, contexts_path

.row
  .col-xs-12
    = render 'form'

- content_for :fluid_content do
  = render 'context_keys_list', edit: true
