.page-header
  %h1
    Notification Templates

.row
  .col-xs-12
    %table.table.table-striped
      %thead
        %tr
          %th Label
          %th Description
      %tbody
        = render @notification_templates
