.page-header
  %h1 Edit Vocabulary <span>#{@vocabulary}</span>
  %small
    = link_to '&larr; Go back to Vocabulary'.html_safe, vocabulary_path(@vocabulary)

.row
  .col-xs-12
    = render 'form'

= render 'meta_keys_list', move_keys: true
