$grid-float-breakpoint: 0px

@import 'bootstrap-sprockets'
@import 'bootstrap'

.container
  width: 1000px

.btn-group
  form:first-child
    .btn
      border-bottom-left-radius: 4px
      border-top-left-radius: 4px
    .btn-sm
      border-bottom-left-radius: 3px
      border-top-left-radius: 3px

  form
    float: left
    .btn
      border-radius: 0

  form + .btn,
  .btn + form
    margin-left: -1px
    border-radius: 0

.checkbox-collection
  label
    display: block

.view_media_files_index
  .panel-body
    margin-bottom: -1em
    .form-inline .form-group
      margin-left: 0.5em
      padding-bottom: 1em

// see also views/application partia
.fancy-checkbox
  input[type=checkbox]
    display: none
    & + .fancy-checkbox-checked
      display: none

  input[type=checkbox]:checked
    & + .fancy-checkbox-checked
      display: initial
    & + .fancy-checkbox-checked + .fancy-checkbox-unchecked
      display: none

  .fancy-checkbox-checked, .fancy-checkbox-unchecked
    .btn .glyphicon
      padding-right: 5px


// forms

// forms for "new" actions have a yellowish background, 
// to better distinguish between create and update
// (by rails convention their id starts with "new_")
form[id^="new_"]
  background: lightyellow
  box-shadow: 0px 0px 20px 20px lightyellow
