$grid-float-breakpoint: 0px

@import 'bootstrap-sprockets'
@import 'bootstrap'

.container
  width: 1000px

.btn-group.btn-group-vertical
  > .btn + form,
  > form + .btn
    margin-top: -1px
  > .btn + form
    .btn
      border-radius: 0
  > .btn:first-child
    border-top-right-radius: $border-radius-base !important
  > form
    margin-bottom: 0
    .btn
      width: 100%
      max-width: 100%
  &.btn-group-sm > form > .btn
    @extend .btn-sm

.btn-group:not(.btn-group-vertical)
  form:first-child
    .btn
      border-bottom-left-radius: $border-radius-base
      border-top-left-radius: $border-radius-base
    .btn-sm
      border-bottom-left-radius: $border-radius-small
      border-top-left-radius: $border-radius-small

  form
    float: left
    .btn
      border-radius: 0

  form + .btn,
  .btn + form
    margin-left: -1px
    border-radius: 0

.checkbox-collection
  label
    display: block

.view_media_files_index
  .panel-body
    margin-bottom: -1em
    .form-inline .form-group
      margin-left: 0.5em
      padding-bottom: 1em

table tr.admin-comment td p
  margin-bottom: 0

table tr.semiborder td
  border-top-style: dashed

table tr.striped
  background: $table-bg-accent

.statistics .row
  padding-top: 1.25em
  margin-top: 1.25em

  a
    &:hover
      text-decoration: none

  .number
    font-weight: 500
    font-size: 2.2em
    line-height: 1


  .title
    font-weight: 400
    letter-spacing: 0.05em
    text-transform: uppercase

table > tbody > tr.empty-collection > td
  padding-top: 4em
  padding-bottom: 4em


table p:last-of-type
  margin-bottom: 0

pre
  code
    color: $code-color
    background-color: $code-bg

.page-header
  h1
    span
      color: #777
      &.label
        color: #fff
    small
      display: block

// bootstrap recommends but does not ship this table width fix for firefox
@-moz-document url-prefix()
  fieldset
    display: table-cell

// fixes
.panel-body::before, .panel-body::after
  white-space: initial

textarea.code
  @extend samp


// forms

// forms for "new" actions have a yellowish background,
// to better distinguish between create and update
// (by rails convention their id starts with "new_")
form[id^="new_"]
  background: lightyellow
  box-shadow: 0px 0px 20px 20px lightyellow

.technical-input
  font-family: $font-family-monospace

textarea.technical-input
  resize: vertical

.form-inline .form-group.actions
  margin-top: 3px

.control-label
  &.required
    &::after
      content: '*'
      color: darkred
      margin-left: 3px

  &.localized-label span
    color: #777
    text-transform: uppercase

// data tables (see UiHelper)
table.table
  tbody + thead tr th
    padding-top: 1em

  &.table-condensed
    samp
      font-size: 12px

// see also views/application partial
.fancy-checkbox
  input[type=checkbox]
    display: none
    & + .fancy-checkbox-checked
      display: none

  input[type=checkbox]:checked
    & + .fancy-checkbox-checked
      display: initial
    & + .fancy-checkbox-checked + .fancy-checkbox-unchecked
      display: none

  .fancy-checkbox-checked, .fancy-checkbox-unchecked
    .btn .glyphicon
      padding-right: 5px

// custom styles
.locale-label
  color: #aaa
  font-size: 0.9em
  position: relative
  top: -1px

.btn-with-icon-only .glyphicon
  margin:
    top: 3px
    bottom: 3px
