= link_to usage_term_path(usage_terms),
          method: :delete,
          data: { confirm: 'The Usage Terms will be deleted. Do you want to proceed?' },
          class: "btn btn-danger" do
  %i.glyphicon.glyphicon-trash
  Delete
