%div OK

= form_tag test_audits_test2_path, method: :post do
  %input{type: :submit, value: 'Submit to test2'}


= form_tag test_audits_test3_path, method: :post do
  %input{type: :submit, value: 'Submit to test3'}
