%tr
  %td
    %code.black= notification_case.label
  %td= notification_case.description
  %td.active.col-xs-2.text-center
    .btn-group.btn-group-sm
      = link_to notification_case_path(notification_case),
        class: 'btn btn-default btn-with-icon-only', title: 'Details' do
        %span.glyphicon.glyphicon-eye-open
        Details
      = link_to edit_notification_case_path(notification_case), class: 'btn btn-info' do
        %span.glyphicon.glyphicon-edit
        Edit
